<h2>@ViewData["Title"]</h2>

<address>
    <strong>Address:</strong> <br />
    @ViewData["AddressLn1"]<br />
    @ViewData["AddressLn2"]<br /><br />
 
    <strong>Phone:</strong> <a href='tel:+1-@ViewData["SupportPhoneNumber"]'>@ViewData["SupportPhoneNumber"]</a>

</address>

<address>
    <strong>Email Support:</strong> <a href="mailto:Support@example.com">@ViewData["SupportEmailAddress"]</a><br />
</address>
